.info-cards {
    max-width: 300px;
    padding: 24px 16px;
    margin: 24px 0px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px 0px rgb(171, 190, 209, 0.2);
}

/* img {
    width: 70px;
    height: 70px;
    z-index: 1;
} */

.icon-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    width: 80px;
    height: 75px;
    margin: 0 auto;
    padding-bottom: 8%;
}

.icon-section img {
    z-index: 1;
    margin-left: -25px;
}

.icon-section::before {
    position: absolute;
    content: '';
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    background-color: #E8F5E9;
    border-radius: 10px 5px 18px 5px;
}

.info-card-title {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 20px;
}

.info-card-description {
    text-align: center;
    padding: 0px 8px;
}