.site-footer {
    background-color: #000101;
    padding: 40px 120px;
}

 .site-footer .separator {
    /* display: inline-block;
    height: 0.5px;
    width: 100%;
    background-color: grey;
    margin: 20px auto; */
    border: 1px solid grey;
    margin: 20px auto;
 }
.site-footer .separator-vertical {
    border-left: 2px solid grey;
    height: 160px;
}

.site-footer p {
    color: #ffffff;
}

.site-footer a {
    color: #ffffff;
    font-weight: 800;
}

.site-footer .row-2 {
    display: flex;
    gap: 50px;
}
.site-footer .row-2 .address {
    width: 220px;
    /* margin-right: 100px; */
}
.site-footer .row-2 .social-links {
    margin-top: 24px;
}
.site-footer .row-2 .social-links li{
    display: flex;
    gap: 32px;
}
.site-footer .row-2 .col-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.site-footer .row-3 {
    display: flex;
    gap: 484px;
}
.site-footer .row-3 .policy{
    display: flex;
    gap: 32px;
}