*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1160;
}

body {
    font-family: "Rubik", sans-serif;
}

h4 {
    color: #ffffff;
    line-height: 24px;
    text-align: left;
}

p {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.site-footer {
    background-color: #000101;
    padding: 40px 120px;
}

 .separator {
    display: inline-block;
    height: 0.5px;
    width: 100%;
    background-color: grey;
    margin: 20px auto;
 }
.separator-vertical {
    border-left: 0.5px solid grey;
    height: 160px;
}

a {
    color: #ffffff;
    font-weight: 800;
}

.row-2 {
    display: flex;
    gap: 50px;
}
.row-2 .address {
    width: 220px;
    margin-right: 100px;
}
.row-2 .social-links {
    margin-top: 24px;
}
.row-2 .social-links li{
    display: flex;
    gap: 32px;
}
.row-2 .col-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.row-3 {
    display: flex;
    gap: 646px;
}
.row-3 .policy{
    display: flex;
    gap: 24px;
}