*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.contact-card {
    max-width: 600px;
    text-align: center;
    padding: 80px 20px;
    margin: 100px auto;
    box-shadow: 1px 1px 6px #808080;
}

.contact-card p {
    margin: 32px 0px;
    line-height: 140%;
}

svg {
    fill: #1a96c4;
}

img {
    max-width: 500px;
}

.about-us {
    display: flex;
    padding: 100px 200px;
    margin: 50px auto;
    background-color: #daeef6;
    background-image: url(images/background\ texture.png);
 }

.description {
    padding: 0px 50px;
    max-width: 600px;
}

.description h3{
    margin: 16px 0px;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    line-height: 26px;
    color: #002743;
    font-style: italic;
 }

.description h1{
    font-family: 'Akzidenz Grotesk', sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 48px;
    color: #22282C; 
}

.description p{
    font-family: 'Akzidenz Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    color: #22282C; 
    margin-bottom: 24px;
}

.description .separator {
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #E8C259;
    margin: 20px 0px;
}

.btn {
    display: inline-block;
    font-family: 'Akzidenz Grotesk', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background-color: black;
    padding: 12px 39px;
    border-radius: 22px 0px 22px 0px;
}

.btn-primary{
    background-image: linear-gradient(to right, #3BB8EB , #007DB3);

}

.btn-secondary{
    background-color: gray;
    margin-right: 24px;

}

.pop-up-section {
    margin: 50px auto;
    padding: 200px 600px;
    font-family: 'Akzidenz Grotesk', sans-serif;
    background-color: #002743;
}
.pop-up {
    padding: 60px 80px;
    background-color: white;
    border-radius: 22px 0px 24px 0px;
}
.header-border {
    position: relative;
    top: -70px;
    left: 15%;
    display: inline-block;
    height: 5px;
    width: 70%;
    background-color:#007DB3;
}
.pop-up h2 {
    font-size: 32px;
    color: #002743;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}
.pop-up p {
    padding: 30px 0px;
    font-size: 20px;
    color: #002743;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
}

.pop-up .btn-primary {
    width: 124px;
    text-align: center;
 }
.button {
    display: flex;
    justify-content: center;
 }

 