
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 60px auto;
    margin: 80px auto;
    max-width: 1310px;
}


.navbar ul {
    list-style-type: none;
    text-align: right;
}
.navbar ul li {
    display: inline-block; 
    margin: 0 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: normal;
    font-style: normal;
}
.navbar ul li a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

.description-section {
    position: relative;
    max-width: 800px;

}
.developer {
    margin: 40px auto;
}
.description {
    margin: 20px auto;
}
.call {
    margin: 60px auto;
}

.image-section{
    position: relative;
}
img{
    
    position: absolute;
    border-radius: 0 0 0 280px;
    border: 5px solid #000000;
}
.black-box{
    position: relative;
    width: 482px;
    height: 585px;
    background-color: #000000;
    border-radius: 0 0 0 280px;
    z-index: -1;
    left: 30px;
    bottom: 15px;
}

h1 {
    font-size: 87px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

h2 {
    color: #121212;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

p {
    color: #6B6868;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}


.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px; 
    text-transform: uppercase;
    color: #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    padding: 30px 50px;
    transition: all 0.5s;
    margin-right: 10px;
    background-color: #ffffff;
}

.btn:hover{
    background: #000000;
    color: #ffffff;
}